<div class="container-fluid container-fluid-custom">
<h1>About</h1>
<p>Notes App được clone lại bởi <a href="https://www.facebook.com/up.stone.3">HungBui</a> sử dụng Nodejs, Express, MongoDb,...</p>
<p>Hope you enjoy it ^^</p>
</div>